version: "3.9"
services:
  db:
    image: postgres:13.3
    container_name: postgresdb
    environment:
      - POSTGRES_PASSWORD=12345
    volumes:
      - "./db:/var/lib/postgresql/data"
    ports:
      - "5432:5432"
  dash:
    build:
      context: .
      dockerfile: Dockerfile.dash
    container_name: dash_app
    command: python app.py
    volumes:
      - ./dash:/code
    ports:
      - "80:8080"
    depends_on:
        - db
    